<div class="landing-content">

  <img src="assets/images/branding/electric-safari-lg.png" alt="Electric Safari II">

  <p>Welcome to the Electric Safari homepage. Electric Safari II is currently being refined and
    should prove to be an adventure through musical soundscapes ✨ To stay in the &infin;, follow our
    channels below.</p>

  <ul>
    <li><a href="https://instagram.com/electric_safari_fest" title="Electric Safari on Instagram">
      <span class="sr-only" id="instagram-link">Instagram</span>
      <i class="ion ion-logo-instagram" aria-hidden="true" aria-describedby="#instagram-link"></i>
    </a></li>

    <li><a href="https://www.twitch.tv/ElectricSafari" title="Electric Safari on Twitch">
      <span class="sr-only" id="twitch-link">Twitch</span>
      <i class="ion ion-logo-twitch" aria-hidden="true" aria-describedby="#twitch-link"></i>
    </a></li>

    <li><a href="https://github.com/electricsafari" title="Electric Safari on GitHub">
      <span class="sr-only" id="github-link">GitHub</span>
      <i class="ion ion-logo-github" aria-hidden="true" aria-describedby="#github-link"></i>
    </a></li>

    <li><a href="https://twitter.com/electric_safari" title="Electric Safari on Twitter">
      <span class="sr-only" id="twitter-link">Twitter</span>
      <i class="ion ion-logo-twitter" aria-hidden="true" aria-describedby="#twitter-link"></i>
    </a></li>
  </ul>

</div>
